.output {
    /* box-sizing: border-box; */
    /* min-width: 35%;
    height: 42%; */
    /* height: 70%; */
    width: 60%;
    border: 2px solid white;
    background-color: rgb(215, 231, 244);
    /* flex-grow: 1.5; */

    header {
        padding: 10px;
        /* height: 100px; */
        background-color: #242424;
        color: white;

        p {
            text-align: center;
            margin-bottom: 10px;
            font-size: 2rem;
            font-weight: bold;
        }

        div {
            display: flex;
            flex-flow: wrap;
            justify-content: space-evenly;
            margin-bottom: 3px;

            div {
                gap: 5px;
            }
        }
    }

    section {
        margin-top: 20px;
        padding: 0px 20px;
        h2 {
            margin-bottom: 10px;
            background-color: rgb(188, 204, 231);
            color: #242424;
            padding: 3px 7px;
        }
        div.Edu {
            margin: 0px 10px;
        }
        div.Exp {
            display: flex;
            /* margin: 20px 10px; */
            /* margin: 0 10px; */
            margin: 20px 0px;
            div.when {
                margin: 0px 10px;
                min-width: fit-content;
                p{
                    text-align: center;
                }
            }

            div{
                span {
                    float: right;
                }
            }
        }
    }
}