*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/BG.avif");
    background-position: center;
    background-size: cover;
    font-family: Inter;
    font-size: 14px;
    padding-bottom: 3%;
}

.heading {
    display: flex;
    align-items: center;
    background-color: #242424;
    box-shadow: 1px 1px 10px 10px white;
    margin-bottom: 3rem;
    padding: 1% 0;
    position: relative;
}

h1 {
    color: white;
    margin: auto;
    font-size: 3rem;
}

.material-symbols-outlined {
    position: absolute;
    right: 2%;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5%;
    background-color: rgb(2, 123, 123);
    cursor: pointer;
}

.container {
    display: flex;
    gap: 4%;
    justify-content: center;
    /* width: 100vw; */
}

@media screen and (max-width: 950px) {
    .container {
        flex-direction: column;
    }

    .input {
        width: 70% !important;
        margin: auto;
        div {
            width: 70%;
            margin: 0 auto 5% auto !important;
        }
    }

    .output {
        width: 90% !important;
        margin: auto;
    }
}